* {
  box-sizing: border-box;
  margin: 0;
}

.flex_container {
  align-items: center;
  display: flex;
  height: 300px;
  justify-content: center;
  background-color: lightgray;
}

.flex_container > div {
  background-color: cornflowerblue;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 10px;
  transition: 2s all ease 0s;
}

.flex_container > div:hover {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
